.users__list {
	display: flex;
	justify-content: center;
	align-items: center;
}
.users__list {
	list-style-type: none;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-template-rows: 350px;
	gap: 30px;
}
.users__card {
	width: 100%;
	box-shadow: 2px 2px 20px 6px rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.users__avatar, .users__name, .users__email {
	font-size: 24px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 20px;
}
.users__loading {
	/* display: none; */
}
.controls {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}